# Stellar Locus Regression
# High et al. 2009, AJ submitted
#
#
# Default config file
# 
#
#
# What bands from the colortable to use.
#use_bands		g,r,i,z,J
#
# What colors from the colortable to use.
colors2calibrate	gr,ri
#colors2calibrate	gr,ri,iz
#colors2calibrate	gr,ri,iz,zJ
#
# Which fitpar structure scheme to use.
use_fitpar		0
#
#
kappa_fix		0,0
#kappa_fix		0,0,0
#kappa_fix		0,0,0,0
#
# Vector of guesses for numerical fitter to use as initial
# values. Must be comma separated with no spaces, and ordered as
# g-r,r-i,r-i,i-z,z-J. In magnitudes.
kappa_guess		-0.2,-0.9
#kappa_guess		0.1,-0.3,-0.9
#kappa_guess		0.1,-0.3,-0.9,-27
#
# Vector of guesses for numerical fitter to use as allowable parameter
# range values. Must be comma separated with no spaces, and ordered as
# g-r,r-i,r-i,i-z,z-J. In magnitudes.
kappa_guess_range	1,1
#kappa_guess_range	1,1,1
#kappa_guess_range	1,1,1,1
#
#
color_min		-100,-100
#
#
color_max		100,100
#
#
mag_min			-100
#
#
mag_max			100
#
# Color terms.
colorterms		0
#colorterms		-0.084,0.025,-0.060,0.018
#
# Color terms.
colortermbands		none
#colortermbands		g,r,i,z
#
# Color terms.
colormult		none
#colormult		gr,ri,iz,iz
#
# Verbosity level 0, 1, or 2.
verbose			1
#
# Force a re-read of the ascii colortable?
force			1
#
# Plot figures?
plot			1
#
# Write figures to postscript rather than to screen?
postscript		0
#
# Require user to hit enter when prompted?
interactive		1
#
# Plot each iteration of the regression?
animate_regression	1
#
# Use error-weighted residual? If not, weights are uniform.
weighted_residual	1
#
# Do the fit?
get_kappa		1
#
# Number of bootstrap iterations, >= 0.
nbootstrap		0
#
# Debug mode?
debug			0
#
# Use IR data? ... Not supported yet.
use_ir			0
#
#
# Cuts applied to data
#
#
# Which type to do SLR on.  star == 1, galaxy == 0
type			1
#
# Do SLR on ambiguous point sources?
tmixed			0
#
# Deredden manually using SFD?
deredden		0
#
# Cut disk stars? If yes, "zeelow" should be meaningful.
cutdiskstars		0
#
# Galactic |Z| lower threshold in kpc, only useful when cutdiskstars
# is set.
zeelow			100
#
# Galactic |b| lower threshold in deg.
beelow			0.
#
# Lower threshold in photometric signal-to-noise.
snlow			10
#
# Lower threshold in g-band signal-to-noise.
gsnlow			10
#
# Error to add to all magnitude errors in quadrature, in magnitudes.
magerr_floor		0.000
#
# Maximum distance to standard locus line allowable, in magnitudes.
max_locus_dist		1
#
# Maximum error-weighted distance to standard locus line allowable.
max_weighted_locus_dist	10
