use_ir			0 # Use IR data?
postscript		0 # Write postscript figures?
plot			0 # Plot figures?
interactive		0 # Pause to wait for user to hit return?
animate_regression	0 # Plot each iteration of the regression?
weighted_residual	1 # Weight residuals by errors?
verbose			1 # Verbosity level. Can be 0, 1, or 2.
debug			0 # Not yet used
get_kappa		1 # Fit for kappa?
nbootstrap		0 # Number of bootstrap iterations.

# Cuts applied to data
type			1
tmixed			0
deredden		0
cutdiskstars		0
beelow			0.
zeelow			100
snlow			10
gsnlow			10
gmax			1e10
rmin			-100
rmax			100
gimin			-100
gimax			100
grmin			-100
grmax			100
rimin			-100
rimax			100
izmin			-100
izmax			100
zJmin			-1000
zJmax			+1000
magerr_floor		0.000
max_locus_dist		0.3
max_weighted_locus_dist	6

# Initial guesses for the fitter
kappa_guess		0,0,0,-27.5,-27.5,-27.5,-27.5
kappa_guess_range	1,1,1,1,1,1,1
