# Stellar Locus Regression
# High et al. 2009, AJ submitted
#
#
# Default config file
# 
#
#
# Verbosity level 0, 1, or 2.
verbose			1
#
# Force a re-read of the ascii colortable?
force			0
#
# Plot figures?
plot			0
#
# Write figures to postscript rather than to screen?
postscript		0
#
# Require user to hit enter when prompted?
interactive		0
#
# Plot each iteration of the regression?
animate_regression	0
#
# Use error-weighted residual? If not, weights are uniform.
weighted_residual	0
#
# Do the fit?
get_kappa		1 # Fit for kappa?
#
# Number of bootstrap iterations, >= 0.
nbootstrap		5 # Number of bootstrap iterations.
#
# Debug mode?
debug			0 # Not yet used
#
# Use IR data? ... Not supported yet.
use_ir			0
#
#
# Cuts applied to data
#
#
# Which type to do SLR on.  star == 1, galaxy == 0
type			1
#
# Do SLR on ambiguous point sources?
tmixed			0
#
# Deredden manually using SFD?
deredden		0
#
# Cut disk stars? If yes, "zeelow" should be meaningful.
cutdiskstars		0
#
# Galactic |Z| lower threshold in kpc, only useful when cutdiskstars
# is set.
zeelow			100
#
# Galactic |b| lower threshold in deg.
beelow			0.
#
# Lower threshold in photometric signal-to-noise.
snlow			10
#
# Lower threshold in g-band signal-to-noise.
gsnlow			10
#
# Upper threshold in g-band magnitude.
gmax			1e10
#
# Lower threshold in r-band magnitude.
rmin			-100
#
# Upper threshold in r-band magnitude.
rmax			100
#
# Lower threshold in g-i color, in magnitudes. Not currently used.
gimin			-100
#
# Upper threshold in g-i color, in magnitudes. Not currently used.
gimax			100
#
# Lower threshold in g-r color, in magnitudes.
grmin			-100
#
# Upper threshold in g-r color, in magnitudes.
grmax			100
#
# Lower threshold in r-i color, in magnitudes.
rimin			-100
#
# Upper threshold in r-i color, in magnitudes.
rimax			100
#
# Lower threshold in i-z color, in magnitudes.
izmin			-100
#
# Upper threshold in i-z color, in magnitudes.
izmax			100
#
# Lower threshold in z-J color, in magnitudes. Not currently used.
zJmin			-1000
#
# Upper threshold in z-J color, in magnitudes. Not currently used.
zJmax			+1000
#
# Error to add to all magnitude errors in quadrature, in magnitudes.
magerr_floor		0.000
#
# Maximum distance to standard locus line allowable, in magnitudes.
max_locus_dist		0.3
#
# Maximum error-weighted distance to standard locus line allowable.
max_weighted_locus_dist	6
#
# Vector of guesses for numerical fitter to use as initial
# values. Must be comma separated with no spaces, and ordered as
# g-r,r-i,r-i,i-z,z-J. In magnitudes.
kappa_guess		0,0,0,-27.5,-27.5,-27.5,-27.5
#
# Vector of guesses for numerical fitter to use as allowable parameter
# range values. Must be comma separated with no spaces, and ordered as
# g-r,r-i,r-i,i-z,z-J. In magnitudes.
kappa_guess_range	1,1,1,1,1,1,1
