# Stellar Locus Regression
# High et al. 2009, AJ submitted
#
#
# Default config file
# 
#
#
# Transform without doing the fit?
transform_only 		0
#
# What colors from the colortable to use.
colors2calibrate	gr,ri,iz,BV,VR,RI
#
# Write calibrating colors (and optionally mags) of all objects
# appearing in the input colortable to a new colortable?
write_ctab		1
#
# Which bands to write magnitudes for.
mags2write		none
#
# Which kappa of "colors2calibrate" deliver the zeropoints for each
# "mags2write"?
mag_zeropoints		none
#
# Whether to fit each entry of the kappa vector. Ordered as
# colors2calibrate.
kappa_fix		0,0,0,0,0,0
#
# Vector of guesses for numerical fitter to use as initial
# values. Must be comma separated with no spaces, and ordered as
# colors2calibrate. In magnitudes.
kappa_guess		0,0,0,0,0,0
#
#
kappa_guess_err		0.0,0.0,0.0,0.0,0.0,0.0
#
# Vector of guesses for numerical fitter to use as allowable parameter
# range values. Must be comma separated with no spaces, and ordered as
# colors2calibrate. In magnitudes.
kappa_guess_range	1,1,1,1,1,1
#
# Color term values, or the string "none". Ordered as colortermbands.
colorterms		none
#
# Bands the require color term correction. Each band must appear in
# colors2calibrate.
colortermbands		none
#
# The colors that the colorterms are multiplying. Ordered as
# colortermbands.
colormult		none
#
# Constant to subtract off colors in color term.
colorconst		none
#
# Verbosity level 0, 1, or 2.
verbose			1
#
# Force a re-read of the ascii colortable?
force			1
#
# Plot figures?
plot			1
#
# Write figures to postscript rather than to screen?
postscript		0
#
# Require user to hit enter when prompted?
interactive		1
#
# Plot each iteration of the regression?
animate_regression	1
#
# Use error-weighted residual? If not, weights are uniform.
weighted_residual	0
#
# Number of bootstrap iterations, >= 0.
nbootstrap		5
#
# Debug mode? Not currently used.
debug			0
#
# Which type to do SLR on.  star == 1, galaxy == 3
type			1
#
# Do SLR on ambiguous point sources?
tmixed			0
#
# Deredden manually using SFD? Must have_sfd.
deredden		0
#
# Cut disk stars? If yes, "zeelow" should be meaningful.
cutdiskstars		0
#
# Galactic |Z| lower threshold in kpc, only useful when cutdiskstars
# is set.
zeelow			100
#
# Galactic |b| lower threshold in deg.
beelow			0.
#
# Minimum signal-to-noise allowable. Must have 1 element, or same
# number as the number of unique _bands_ appearing in
# colors2calibrate.
snlow			10
#
# Minimum color allowable.  Must have 1 element, or same number as the
# number of colors2calibrate.
color_min		-100
#
# Maximum color allowable.  Must have 1 element, or same number as the
# number of colors2calibrate.
color_max		100
#
# Minimum mag value allowable. Must have 1 element, or same number as
# the number of unique _bands_ appearing in colors2calibrate.
mag_min			-50
#
# Maximum mag value allowable. Must have 1 element, or same number as
# the number of unique _bands_ appearing in colors2calibrate.
mag_max			100
#
# Error to add to all magnitude errors in quadrature, in
# magnitudes. Must have 1 element, or same number as the number of
# unique _bands_ appearing in colors2calibrate.
magerr_floor		0.000
#
# Maximum distance to standard locus line allowable, in magnitudes.
max_locus_dist		0.2
#
# Maximum error-weighted distance to standard locus line allowable.
max_weighted_locus_dist	7
#
#
have_sfd		0
